using EmployeeWebApp;
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>
"Employee table displays here"
<table>
    <tr>
    <thead> Employee Details </thead>
    </tr>
    <tr><td>Employee Code is: <textarea id="Ecode" value=""></textarea></td></tr>
    <tr><td>Employee Name is: <textarea id="EName" value=""></textarea></td></tr>
    <tr><td>Employee Salary is: <textarea id="ESal" value=""></textarea></td></tr>
    <tr><td>Employee Department is: <textarea id="Dept" value=""></textarea></td></tr>

</table>
<button id="Add" onclick="CreateAddEmp()">Add Emp</button>
<button id="Del">Del Emp</button>
<tr><td>Employee Dept: <textarea id="Dept" value=""></textarea></td></tr>

